var/cache/*
var/locks/*
var/package/*
var/report/*
var/session/*
var/report/*
var/export/*
app/etc/local.xml
media/*
media/*/*
**media/
skin/frontend/default/msil/*
app/design/frontend/default/msil/*
media/catalog/product/cache/*/*/*/*/*/*/
includes/*
downloader/*
