<?xml version="1.0"?>
<config>
  <modules>
    <Dwg_Template>
      <version>0.1.0</version>
    </Dwg_Template>
  </modules>
  <global>
  	<models>
  		<template>
  			<class>Dwg_Template_Model_Media</class>
  		</template>
  	</models>
    <helpers>
      <template>
        <class>Dwg_Template_Helper</class>
      </template>
    </helpers>
  </global>
</config> 