<?xml version="1.0"?>
<config>
  <modules>
    <MS_Members>
      <version>0.1.0</version>
    </MS_Members>
  </modules>
  <global>
    <helpers>
      <members>
        <class>MS_Members_Helper</class>
      </members>
    </helpers>
	<models>
	  <members>
		<class>MS_Members_Model</class>
		<resourceModel>members_mysql4</resourceModel>
	  </members>
	</models>
	<resources>
	  <MsMemberType_setup>
		<setup>
		  <module>MS_Members</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </MsMemberType_setup>
	  <MsMemberType_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </MsMemberType_write>
	  <MsMemberType_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </MsMemberType_read>
	</resources>
    <events>
	  <!--<catalog_product_type_prepare_full_options>
        <observers>
          <catalog_product_type_prepare_full_options_handler>
            <type>model</type>
            <class>members/observer</class>
            <method>catalogProductTypePrepare</method>
            <args></args>
          </catalog_product_type_prepare_full_options_handler>
        </observers>
      </catalog_product_type_prepare_full_options> -->
        <checkout_cart_update_items_after>
            <observers>
                <checkout_cart_update_items_after_handler>
                    <type>model</type>
                    <class>members/observer</class>
                    <method>cartMembershipCheck</method>
                    <args></args>
                </checkout_cart_update_items_after_handler>
            </observers>
        </checkout_cart_update_items_after>
        <checkout_cart_product_add_after>
            <observers>
                <checkout_cart_product_add_after_handler>
                    <type>model</type>
                    <class>members/observer</class>
                    <method>cartMembershipProductAddCheck</method>
                    <args></args>
                </checkout_cart_product_add_after_handler>
            </observers>
        </checkout_cart_product_add_after>
        <sales_order_place_after>
          <observers>
            <sales_order_place_after_handler>
              <type>model</type>
              <class>members/observer</class>
              <method>addMembership</method>
              <args></args>
            </sales_order_place_after_handler>
          </observers>
        </sales_order_place_after>
    </events>
  </global>
</config> 