<?xml version="1.0"?>

<config>
	<modules>
		<Dwg_Promotionsmgr>
			<version>0.1.0</version>
		</Dwg_Promotionsmgr>
	</modules>
	<frontend>
		<routers>
			<promotionsmgr>
				<use>standard</use>
				<args>
					<module>Dwg_Promotionsmgr</module>
					<frontName>promotionsmgr</frontName>
				</args>
			</promotionsmgr>
		</routers>
		<layout>
			<updates>
				<promotionsmgr>
					<file>promotionsmgr.xml</file>
				</promotionsmgr>
			</updates>
		</layout>
	</frontend>
    <admin>
        <routers>
            <promotionsmgr>
                <use>admin</use>
                <args>
                    <module>Dwg_Promotionsmgr</module>
                    <frontName>promotionsmgr</frontName>
                </args>
            </promotionsmgr>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <promotionsmgr module="promotionsmgr">
                <title>Promotions</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="promotionsmgr">
                        <title>Promotions</title>
                        <sort_order>0</sort_order>
                        <action>promotionsmgr/adminhtml_promotionsmgr</action>
                    </items>
                </children>
            </promotionsmgr>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <promotionsmgr module="promotionsmgr">
                            <title>Promotions</title>
                            <sort_order>200</sort_order>
                            <children>
	                        <items module="promotionsmgr">
	                        <title>Manage Items</title>
	                        <sort_order>0</sort_order>
	                        </items>
                            </children>
                        </promotionsmgr>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <promotionsmgr>
                    <file>promotionsmgr.xml</file>
                </promotionsmgr>
            </updates>
        </layout>
    </adminhtml>   
	<global>
		<models>
			<promotionsmgr>
				<class>Dwg_Promotionsmgr_Model</class>
				<resourceModel>promotionsmgr_resource</resourceModel>
			</promotionsmgr>
			<promotionsmgr_resource>
				<class>Dwg_Promotionsmgr_Model_Mysql4</class>
				<entities>
					<promotionsmgr>
						<table>promotionsmgr</table>
					</promotionsmgr>
				</entities>
			</promotionsmgr_resource>
		</models>
		<resources>
			<promotionsmgr_setup>
				<setup>
					<module>Dwg_Promotionsmgr</module>
					<class>Dwg_Promotionsmgr_Model_Resource_Setup</class>
				</setup>
			</promotionsmgr_setup>
		</resources>
		<blocks>
			<promotionsmgr>
				<class>Dwg_Promotionsmgr_Block</class>
			</promotionsmgr>
		</blocks>
		<helpers>
			<promotionsmgr>
				<class>Dwg_Promotionsmgr_Helper</class>
			</promotionsmgr>
		</helpers>
		</global>
	</config>
		
		