<?xml version="1.0"?>
<config>
    <modules>
        <MS_Api>
            <version>0.1.0</version>
        </MS_Api>
    </modules>
    <frontend>
        <routers>
            <ms_api>
                <use>standard</use>
                <args>
                    <module>MS_Api</module>
                    <frontName>ms-api</frontName>
                </args>
            </ms_api>
        </routers>
    </frontend>
    <global>
        <models>
            <ms_api>
                <interface>MS_Api_Model_ApiAuth</interface>
                <class>MS_Api_Model_Service</class>
                <class>MS_Api_Model_ApiAuthToken</class>
                <class>MS_Api_Model_Adapters_ProductsSql</class>
                <class>MS_Api_Model_Adapters_ReportsSql</class>
                <class>MS_Api_Model_Adapters_CategoriesSql</class>
                <class>MS_Api_Model_Reports_Owners_Orders_Types_AllOrders</class>
                <class>MS_Api_Model_Reports_Owners_Orders_Types_ProductOrders</class>
                <class>MS_Api_Model_Products_Lists</class>
                <class>MS_Api_Model_Products_Users_Lists_ProductType</class>
                <class>MS_Api_Model_Categories_Tree_Lists_Nested</class>
            </ms_api>
        </models>
        <helpers>
            <ms_api>
                <class>MS_Api_Helper</class>
            </ms_api>
        </helpers>
        <controllers>
        </controllers>
    </global>
</config>
