<?xml version="1.0"?>
<config>
    <modules>
        <Dwg_Ordernew>
            <version>0.1.0</version>
        </Dwg_Ordernew>
    </modules>
  <global>
    <models>
        <ordernew>
             <class>Dwg_Ordernew_Model</class>
             <resourceModel>ordernew_mysql4</resourceModel>
        </ordernew>
        <ordernew_mysql4>
	        <class>Dwg_Ordernew_Model_Mysql4</class>
	        <entities>
	            <ordernew>
	                <table>ordernew</table>
	            </ordernew>
	        </entities>
        </ordernew_mysql4>
    </models>
    <resources>
            <ordernew_setup>
                <setup>
                    <module>Dwg_Ordernew</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordernew_setup>
            <ordernew_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordernew_write>
            <ordernew_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordernew_read>
    </resources>
    <events>
      <sales_order_place_before>
        <observers>
          <dwg_ordernew_sales_observer>
            <type>singleton</type>
            <class>Dwg_Ordernew_Model_Observer</class>
            <method>newSalesOrder</method>
          </dwg_ordernew_sales_observer>
        </observers>
      </sales_order_place_before>     
    </events>
  </global>
</config>