<?xml version="1.0"?>
<config>
  <modules>
    <MS_Msmtp>
      <version>0.1.0</version>
    </MS_Msmtp>
  </modules>
  <global>
    <helpers>
      <msmtp>
        <class>MS_Msmtp_Helper</class>
      </msmtp>
    </helpers>
	<blocks>
	  <msmtp>
		<class>MS_Msmtp_Block</class>
	  </msmtp>
	</blocks>
	<models>
	  <msmtp>
		<class>MS_Msmtp_Model</class>
		<resourceModel>msmtp_mysql4</resourceModel>
	  </msmtp>
			<core>
				<rewrite>
					<email_template>MS_Msmtp_Model_Core_Email_Template</email_template>
				</rewrite>
			</core>
			<newsletter>
				<rewrite>
					<template>MS_Msmtp_Model_Newsletter_Template</template>
				</rewrite>
			</newsletter>
	</models>
  </global>
  <admin>
	<routers>
	  <msmtp>
	    <use>admin</use>
		<args>
		  <module>MS_Msmtp</module>
		  <frontName>msmtp</frontName>
		</args>
	  </msmtp>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <msmtp module="msmtp">
		<title>Msmtp</title>
		<sort_order>100</sort_order>
		<children>
		  <msmtpbackend module="msmtp">
			<title>Email</title>
			<sort_order>0</sort_order>
			<action>msmtp/adminhtml_msmtpbackend</action>
		  </msmtpbackend>
		</children>
	  </msmtp>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<msmtp translate="title" module="msmtp">
			  <title>Msmtp</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <msmtpbackend translate="title">
			<title>Email</title>
		  </msmtpbackend>
			  </children>
			</msmtp>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<msmtp>
		  <file>msmtp.xml</file>
		</msmtp>
	  </updates>
	</layout>
  </adminhtml>
</config> 