<?xml version="1.0"?>
<config>
  <modules>
    <MS_Filter>
      <version>0.1.0</version>
    </MS_Filter>
  </modules>
  <frontend>
    <routers>
      <filter>
        <use>standard</use>
          <args>
            <module>MS_Filter</module>
            <frontName>marketspace-products</frontName>
          </args>
      </filter>
    </routers>
		<layout>
		  <updates>
			<filter>
			  <file>filter.xml</file>
			</filter>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <filter>
        <class>MS_Filter_Helper</class>
      </filter>
    </helpers>
	<blocks>
	  <filter>
		<class>MS_Filter_Block</class>
	  </filter>
	</blocks>
  </global>
</config> 