<?xml version="1.0"?>
<config>
  <modules>
    <Alan_Ag>
      <version>0.2.0</version>
    </Alan_Ag>
  </modules>
  <frontend>
      <routers>
          <ag>
              <use>standard</use>
              <args>
                  <module>Alan_Ag</module>
                  <frontName>community-profiles</frontName>
              </args>
          </ag>
      </routers>  
  </frontend>
  <global>
  	<models>
  		<ag>
				<class>Alan_Ag_Model</class>
				<resourceModel>ag_resource</resourceModel>
		 	</ag>
			<ag_resource>
				<class>Alan_Ag_Model_Resource</class>
				<entities>
					<eavag>
						<table>dwg_aggregators</table>
					</eavag>
				</entities>
			</ag_resource>
  	</models>
  	<resources>
  		<ag_setup>
  			<setup>
  				<module>Alan_Ag</module>
  				<class>Alan_Ag_Model_Resource_Setup</class>
  			</setup>
  		</ag_setup>
  	</resources>
    <helpers>
      <ag>
        <class>Alan_Ag_Helper</class>
      </ag>
    </helpers>
    <controllers>
    </controllers>
  </global>
</config> 
